* {
  margin: 0;
  padding: 0;
}
strong {
  font-weight: 500;
}

.section-margins {
  margin-right: 5rem;
}
html {
  scroll-behavior: smooth;
}
.p-text {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}

h1 {
  font-size: 60px;
  margin-bottom: 2rem;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 1;
}
h2 {
  font-size: 39px;
  margin-bottom: 2rem;
  font-family: "Noto Sans", sans-serif;
  text-align: center;

  margin-bottom: 3rem;
  /*     margin-left: 2rem; */
  margin-right: 2rem;
}
h4 {
  font-family: "Noto Sans", sans-serif;
}
h5 {
  font-family: "Noto Sans", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

/* STYLES DEL HEADER */

.header-propierties {
  background-color: rgb(91, 232, 200);

  display: flex;
  flex-direction: row;
  padding: 1rem;
  list-style: none;
  justify-content: space-between;
}
.div-logo {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  margin-left: 0.8rem;
  text-decoration: none;
  list-style: none;
  padding: 0.2rem 0.4rem;
}
a {
  text-decoration: none;
}
ul li a {
  color: #333333;
  font-weight: 600;
}
header a {
  font-size: 18px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header nav ul li:hover {
  background-color: rgb(232, 200, 91);
  border-radius: 8px;
  transition: background 0.3s;
  color: black;
}

/* STYLES DEL HOME */

#subtitulo {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  line-height: 28.8px;
}

.section-home {
  display: flex;
  align-content: center;
  margin-top: 0rem;
  padding-bottom: 7rem;
  background-image: url("../IMG/home/home.svg");
  background-size: cover;
  background-repeat: none;
  max-height: 60vh;
}

.img-hero {
  /*     display: inline-block; */
  height: 30vw;
  width: 100vh;
  display: none;
}

.text-hero {
  margin-top: 10rem;
  margin-left: 5rem;
  /*     transition:  400ms ease 0s;
    opacity: 1; */
}

.div-button {
  margin-top: 1rem;
}
.cta-button {
  background-color: rgb(232, 200, 91);
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
div button a {
  color: rgb(75 75 75);
  font-weight: bold;
  font-size: larger;
}

/* Sección 1 */
#section1 {
  background-image: url("../IMG/Section1/background-section1.svg");
  padding: 2rem 0rem 4rem 0rem;
  background-color: whitesmoke;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.flex-section1 {
  display: flex;
  margin: 0 4rem;
}
.div-p-section1 {
  font-size: 16px;
  margin-right: 2rem;
  margin-left: 2rem;
}
.img-section1 {
  min-width: 40vw;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 7rem;
}
.h2-1 {
  margin-top: 2rem;
}

/* Sección 2 */

.h2-2 {
  margin-left: 2rem;
  color: #333333;
}
.h3-2 {
  color: #333333;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.1;
  margin-top: 1rem;
  text-align: center;
}
#section2 {
  background-color: rgb(91, 232, 200);
  padding: 2rem 0rem 4rem 0rem;
}
.pastilla1 {
  height: 7rem;
}
.img-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.p-2 {
  margin-top: 0.5rem;
  text-align: center;
}

/* Seccion 3 */

/* *, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
 */

#section3 {
  background-color: whitesmoke;
  padding: 2rem 0rem 4rem 0rem;
  /* background-image: url('../IMG/Section1/background-section1.svg'); */
  background-image: cover;
}
.h2-3 {
  margin-top: 2rem;
  margin-left: 2rem;
}
div.c {
  position: relative;
  margin: 2em;
  max-width: 25vw;
  min-width: 25vw;
}
.div-input-acordeon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}
.h2-acordeon {
  background: rgb(232, 200, 91);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  color: #333333;
  padding: 0.5rem 3rem 0.5rem 3rem;
  position: relative;
}
.h3-3 {
  color: #333333;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.1;
  /*         margin-top: 1rem; */
}

h3 label::before {
  content: "";
  display: inline-block;
  border: 15px solid transparent;
  border-left: 30px solid #333333;
}
h3 label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding: 2em;
}
input:checked ~ h3 label::before {
  border-left: 15px solid transparent;
  border-top: 20px solid #333333;
  margin-top: 12px;
  margin-right: 10px;
}
input:checked ~ h3 ~ div.p {
  max-height: 1100px;
}
a {
  color: steelblue;
}
.div-acordeones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Seccion 4  TESTIMONIOS */
#section4 {
  padding: 2rem 0rem 4rem 0rem;
  background-color: rgb(249, 204, 207);
  background-image: url(../IMG/Testimonios/plane-02.svg);
  /*     position: fixed; */
  background-repeat: repeat;
}

.card:hover {
  transform: scale(1.1);
  transition: width, transform ease-in-out 0.5s;
}
.h2-4 {
  margin-top: 2rem;
  margin-left: 2rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.card-body p {
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}

.p-cards {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 20px;
  color: #333333;
}
h4 {
  margin-bottom: 0.5rem;
}

/* Seccion 5 VIDEO */

#section5 {
  padding: 2rem 0rem 0rem 0rem;
  background-color: whitesmoke;
  background-image: url("../IMG/Section1/background-section1.svg");
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.container-16-9 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
#iframe {
  width: 80%;
  margin: auto;
  padding-bottom: 4rem;
}

/* .video-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 

} */

/* iframe{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
} */

/* .div-video iframe{
    min-height: 90vh;
    min-width: 80vw;
    max-height: 90vh;
    max-width: 80vw;
} */
.h2-5 {
  margin-top: 2rem;
  margin-left: 2rem;
}

/* Seccion 6 Formularios */

#section6 {
  background-color: rgb(91, 232, 200);
  padding: 2rem 0rem 4rem 0rem;
  background-image: url(../IMG/Form/ilustration-form.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.h2-6 {
  margin-top: 2rem;
  margin-left: 2rem;
}
.contact-form {
  width: 460px;
  height: auto;
  margin: 40px auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #fbfbfb;
  padding-left: 25px;
}

.input-form {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(91, 232, 200);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(91, 232, 200);
  font-family: "Noto Sans", "Open Sans";
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.label-form {
  display: block;
  float: center;
  font-family: "Noto Sans", "Open Sans";
}
.button-form {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgb(232, 200, 91);
  border-color: rgb(232, 200, 91);
  border-style: solid;
  border-radius: 15px;
  width: 420px;
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

/* Footer*/

footer {
  background-color: rgb(55, 203, 173);
}

footer p {
  text-align: center;
  font-family: "Roboto", "Open Sans";
  padding-bottom: 0.5rem;
}
footer div {
  display: flex;
  justify-content: space-around;
  gap: 30%;
  padding-top: 1rem;
}
footer div div ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
}
footer div div ul li {
  list-style: none;
}

.social-media {
  display: flex;
  min-width: 12%;
  align-items: center;
  gap: 10px;
}
.social-img {
  width: 40px;
  height: auto;
}

/* RESPONSIVE MENU */

header {
  height: 100px;
  background-color: rgb(91, 232, 200);
  padding: 0 50px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-responsive {
  color: #6cc891;
  font-weight: 200;
  max-height: 5rem;
}

.menu a {
  color: #333333;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  font-weight: 600;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
  font-size: 5rem;
}
.menu a:hover {
  background-color: rgb(232, 200, 91);
  border-radius: 8px;
  transition: background 0.3s;
  color: black;
}
#check {
  display: none;
}
@media screen and (min-width: 1500px) {
  .section-home {
    display: flex;
    align-content: center;
    margin-top: 0rem;
    padding-bottom: 50vh;
    background-image: url("../IMG/home/home.svg");
    background-size: cover;
    background-repeat: none;
    max-height: 60vh;
  }
}

@media screen and (max-width: 1023px) {
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  .menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #333333;

    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .menu a {
    color: white;
    text-decoration: none;

    transition: 0.4s;
  }

  .section-home {
    /*         display: flex;
        align-content: center; */
    margin-top: 0rem;
    padding-bottom: 10rem;
    background-image: url(../IMG/Home/home-tablet.svg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 60vh;
    max-width: 100%;
  }
  .text-hero {
    margin-top: 7rem;
    margin-left: 50px;
  }
  /* Sección 1 */
  #section1 {
    background-image: url("../IMG/Section1/background-section1.svg");
    padding: 2rem 0rem 4rem 0rem;
    background-color: whitesmoke;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
  .div-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 2rem;
  }

  .flex-section1 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 2rem;
  }
  .div-p-section1 {
    font-size: 16px;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .img-section1 {
    min-width: 40vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .h2-1 {
    margin-top: 2rem;
  }

  .div-acordeones {
    display: flex;
    flex-direction: column;
  }

  div.c {
    position: relative;
    margin: 2em;
    max-width: 100vw;
    min-width: 100w;
  }

  footer div {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    padding-top: 1rem;
  }
  #iframe {
    width: 90%;
    margin: auto;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .div-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  header {
    height: 100px;
    background-color: rgb(91, 232, 200);
    padding: 0 20px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-form {
    width: 90%;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: #fbfbfb;
    padding-left: 25px;
  }

  .input-form {
    background-color: #fbfbfb;
    width: 80vw;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(91, 232, 200);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  textarea {
    background-color: #fbfbfb;
    width: 80vw;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(91, 232, 200);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .label-form {
    display: block;
    float: center;
  }
  .button-form {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: rgb(232, 200, 91);
    border-color: rgb(232, 200, 91);
    border-style: solid;
    border-radius: 15px;
    width: 80vw;
    cursor: pointer;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }

  .hide-footer {
    display: none;
  }

  .text-hero {
    margin-top: 10rem;
    margin-left: 10rem;
  }

  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30%;
    padding-top: 0.2rem;
  }

  .social-media {
    display: flex;
    min-width: 12%;
    align-items: center;
    gap: 10px;
  }
  .social-img {
    width: 40px;
    height: auto;
  }

  .flex-section1 {
    display: flex;
    margin: 0 1rem;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 2rem;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    letter-spacing: -1.2px;
    line-height: 1;
  }

  .text-hero {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 90%;
  }
  .section-home {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 0rem;
    background-image: url(../IMG/Home/home-mobile.svg);
    /*     padding-bottom: 20rem; */
    padding-bottom: 22rem;
    padding-left: 1rem;
    /*      background-image: none;  */
    background-color: rgb(91, 232, 200);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-hero {
    margin-top: 1rem;

    height: 10%;
    width: 300px;
    display: inline-block;
  }

  #iframe {
    width: 90%;
    margin: auto;
    padding-bottom: 4rem;
  }
  .container-16-9 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
}
